# wrangler.toml
name = "kava-pwa"
main = "dist/worker/index.js"
compatibility_date = "2024-11-01"
# optional if you use Node APIs in functions
# compatibility_flags = ["nodejs_compat"]

[[durable_objects.bindings]]
name = "LIST_ROOM"
class_name = "ListRoom"

[[durable_objects.bindings]]
name = "TOURNAMENT_ROOM"
class_name = "TournamentRoom"

[[migrations]]
tag = "v1"
new_classes = ["ListRoom", "TournamentRoom"]

[[kv_namespaces]]
binding = "KAVA_TOURNAMENTS"
id = "KAVA_TOURNAMENTS"

[pages]
pages_build_output_dir = ".vercel/output/static"
